nextflow.enable.dsl = 2

params {
    inputDir = 'raw'
    outputDir = 'results'
    library = 'library.txt'
	barcodes = 'barcodes.txt'
    pheno = "pheno.xlsx"
	barcode_demux_mismatches = 0
	barcode_length = 4
	spacer_seq = 'AGTATTAGGCGTCAAGGTCCTTA'
    spacer_error_rate = 3
    minigene_barcode_length = 8
	minigene_length = 99
    minigene_mismatches = 9
    random_barcode_length = 4
}

profiles {

    standard {
        includeConfig 'conf/resources.config'
    }

    apptainer {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/apptainer.config'
    }

    cbe {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/apptainer.config'
        includeConfig 'conf/cbe.config'
    }

    cbe_sample {
        includeConfig 'conf/resources_test_mode.config'
        includeConfig 'conf/apptainer.config'
        includeConfig 'conf/cbe.config'
    }

    test {
        includeConfig 'conf/resources_test_mode.config'
        includeConfig 'conf/apptainer.config'
    }
}
