/*
Resource management
*/

process {
    errorStrategy='retry'
    maxRetries=2

    // basic resources
    cpus = { 2 * task.attempt }
    time = { 1.h * task.attempt }
    memory = { 4.GB * task.attempt }

    // process-specific resources
    withName: BAM_TO_FASTQ {
        cpus = { 8 }
        time = { 2.h * task.attempt }
        memory = { 15.GB * task.attempt }
    }
    withName: TRIM_RANDOM_BARCODE {
        cpus = { 8 }
        time = { 2.h * task.attempt }
        memory = { 15.GB * task.attempt }
    }
    withName: DEMULTIPLEX {
        cpus = { 8 }
        time = { 2.h * task.attempt }
        memory = { 15.GB * task.attempt }
    }
    withName: TRIM_BARCODE_AND_SPACER {
        cpus = { 8 }
        memory = { 15.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
    withName: ALIGN {
        cpus = { 8 }
        time = { 2.h * task.attempt }
        memory = { 10.GB * task.attempt }
    }
    withName: COUNT {
        cpus = { 8 * task.attempt }
    }
    withName: FASTQC {
        cpus = { 3 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 2.h * task.attempt }
    }
}

timeline {
    enabled = true
}
